.big_container{
    position: relative;
    background-color: white; 
    height: auto;
    max-width: 100vw;
}

.container_1{
    height: 90vh;
    color: #043C53;
    display: flex;
    flex-direction:column;
    align-items: center;
    justify-content: space-around;
   
}

.section_title{
    
    margin: 0 auto;
    padding: 1.5rem
    0rem 0.5rem 0rem;
    font-size: 2rem;
    color: #0489A8;
    

}


.logo_img{
    padding-bottom: 0.8rem;
    width: 7rem;

}

.container_map{
    width: 90vw;
    height: 30vh;
}
.map{
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.paragraph_container{
    display: flex;
    height: 90%;
    flex-direction: column;
    align-content: stretch;
    justify-content: center;
    align-items: center;
    line-height: 1.5rem;
    font-size: 0.8rem;
}

.paragraph_phrase{
    font-style: italic;
    color: #978f15;
}

.paragraph_title{
    padding-top: 0.5rem;
    font-weight: 800;
}

